*{
    padding: 0%;
    margin: 0%;
    background-size: cover;
}
.a1{
    padding-top: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/background.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    display: flex;
    justify-self: center;
    flex-direction: column;
    font-size: 30px;
    font-family: sans-serif;
    color: burlywood;
}
.a1 h1{
    padding-top: 100px;
}
.BTN{
    text-decoration: none;
    padding: 10px 30px;
    color: burlywood;
    border: 2px solid white;
    border-radius: 40px;
    margin-top: 270px;
    transition: 0.5s ease;
}
.BTN:hover{
    background-color:transparent;
    color:transparent;

}

h1{
    animation: animate 2s 1;
}
@keyframes animate{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }

}